.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.button-container.rtl {
  direction: rtl;
}

.btn-secondary {
  background-color: #f4a261;
  color: white;
}

.btn-danger {
  background-color: #e63946;
  color: white;
}
